// css reset
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    
}

body {
    font-family: 'Montserrat', sans-serif;
}

.heading {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    color: darkblue;
    font-size: 5rem;
    padding: 0 calc(50% - 450px)
}

#root {
    padding: 0 calc(50% - 450px);
}
.container {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}

.comment {
    display: grid;
    justify-content: center;
    // max-width: 50%;
    // grid-gap: .5rem;
    grid-template-columns: 100px 1fr;
    margin-bottom: 1rem;
    // border: 1px solid black;
}
.avatar-image {
    width: 75%;
    height: 100%;
    object-fit: cover;
    padding: .5rem;
    border-radius: 15px;
}
.avatar-container {
    text-align: center;
}
.content {
    display: grid;
    align-items: center;
}
.author {
    // text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
.date {
    margin-left: .5rem;
    color: gray;
}
.buttons-container {
    display: grid;
    justify-content: space-around;
    grid-gap: .5rem;
    grid-template-columns: 100px 100px;
    margin-left: 1rem;
}
.button {
    border: none;
    padding: .5rem;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    background-color: azure;
}
.approve {
    background-color: green;
    color: white;
}
.reject {
    background-color: #e41414 ;
    color: white;
}

.approval-card {
    margin: 2rem;
    padding: 2.5rem;
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}
